.User {
  margin: 100px;
  padding: 100px;
}

.Button {
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 3em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #ffffff;
  background-color: green;
  text-align: center;
  transition: all 0.2s;
}

.Button:hover {
  background-color: #4095c6;
}
